<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.onul.introduceHousePost.dao.IntroduceHouseDAO">
 	<select id="selectIntroduceListOrderByHit" resultType="com.onul.introduceHousePost.model.IntroduceHouse">
 		SELECT
 			`id`
			, `userId`
			, `nickName`
			, `postType`
			, `type`
			, `area`
			, `familyType`
			, `fieldOfWork`
			, `worker`
			, `subject`
			, `content`
			, `coverImage`
			, `hit`
			, `createdAt`
			, `updatedAt`
		FROM
			`introduceHouse`
		ORDER BY `hit` DESC
		LIMIT 4		
 	</select>
 	
 	<insert id="insertIntroduceHouse" parameterType="map" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `introduceHouse`
 		(
			`userId`
			, `nickName`
			, `postType`
			, `type`
			, `area`
			, `familyType`
			, `fieldOfWork`
			, `worker`
			, `subject`
			, `content`
			, `coverImage`
			, `createdAt`
			, `updatedAt` 		
 		)
 		VALUES
 		(
 			#{userId}
 			, #{nickName}
 			, #{postType}
 			, #{type}
 			, #{area}
 			, #{familyType}
 			, #{fieldOfWork}
 			, #{worker}
 			, #{subject}
 			, #{content}
 			, #{coverImage}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<delete id="deleteIntroduceHouseById" parameterType="int">
 		DELETE 
 		FROM 
 			`intruduceHouse`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>