<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.onul.introduceHousePost.dao.IntroduceHouseDAO">
	<insert id="insertFile" parameterType="map">
		INSERT INTO `introduceFiles`
		(
			`postId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{postId}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert> 
	
	<select id="selectIntroduceFilesByPostId" resultType="com.onul.introduceHousePost.model.IntroduceFiles" parameterType="int">
		SELECT
			`id`
			, `postId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`introduceFiles`
		WHERE
			`postId` = #{postId}		
	</select>
	
	<delete id="deleteIntrodeceFilesByPostId" parameterType="int">
		DELETE
		FROM
			`introduceFiles`
		WHERE
			`postId` = #{postId}	
	</delete>
 </mapper>