<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.onul.knowhowPost.dao.KnowhowDAO">
 	<insert id="insertFile" parameterType="map">
 		INSERT INTO `knowhowFiles`
 		(
 			`postId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
 		)
		VALUES
		(
			#{postId}
			, #{imagePath}
			, NOW()
			, NOW()
		) 		
 	</insert>
 	
 	<select id="selectKnowhowFilesListByPostId" parameterType="int" resultType="com.onul.knowhowPost.model.KnowhowFiles">
 		SELECT
 			`id`
 			, `postId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`knowhowFiles`	
		WHERE
			`postId` = #{postId}	
 	</select>
 	
 	<delete id="deleteFileByPostIdImagePath" parameterType="map">
 		DELETE
 		FROM
 			`knowhowFiles`
 		WHERE
 			`postId` = #{postId}
 			AND `imagePath`	= #{imagePath}
 	</delete>
 	
 	<delete id="deleteFileById" parameterType="int">
 		DELETE
 		FROM
 			`knowhowFiles`
 		WHERE
 			`postId` = #{postId}	
 	</delete>
 </mapper>