<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.onul.product.dao.ProductDAO">
 	<insert id="insertFile" parameterType="map">
 		INSERT INTO `productFile`
 		(
 			`productId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			, #{imagePath}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectProductFileListByProductId" resultType="com.onul.product.model.ProductFile">
 		SELECT 
 			`productId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`productFile`
		WHERE
			`productId` = #{productId}		
 	</select>
 </mapper>