<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.onul.user.dao.UserDAO">
 	<select id="selectUserByLoginIdAndPassword" parameterType="map" resultType="com.onul.user.model.User">
 		SELECT
 			`id`
			, `loginId`
			, `password`
			, `nickName`
			, `profileImage`
			, `introduce`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` =  #{password}		
 	</select>
 	
 	<select id="selectUserByLoginId" resultType="com.onul.user.model.User">
 		SELECT
 			`id`
			, `loginId`
			, `password`
			, `nickName`
			, `profileImage`
			, `introduce`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
 	</select>
 	
 	<select id="selectUserByNickName" resultType="com.onul.user.model.User">
 		SELECT
 			`id`
			, `loginId`
			, `password`
			, `nickName`
			, `profileImage`
			, `introduce`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`nickName` = #{nickName}
 	</select>
 	
 	<select id="selectUserById" resultType="com.onul.user.model.User">
 		SELECT
 			`id`
			, `loginId`
			, `password`
			, `nickName`
			, `profileImage`
			, `introduce`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{id}
 	</select>
 	
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
 			`loginId`
			, `password`
			, `nickName`
			, `profileImage`
			, `introduce`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{loginId}
			, #{password}
			, #{nickName}
			, #{profileImage}
			, "자기소개를 작성해주세요."
			, #{name}
			, #{email}
			, NOW()
			, NOW()
 		)
 	</insert>
 </mapper>