@font-face {
    font-family: 'beanpoleotM00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/beanpoleotM00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul, li {margin: 0; padding: 0; list-style: none;}
a {color: inherit; text-decoration: none;}
a:hover {color: inherit; text-decoration: none;}
*:focus {outline: none; box-shadow: none; outline-width: 0;}
select option[value=""][disabled] {display: none;}
button:focus {outline: 0;}

/* 공통 */
.w50 {width: 50%; margin: auto;}
.w60 {width: 60%; margin: auto;}
.w70 {width: 70%; margin: auto;}
.w80 {width: 80%; margin: auto;}
.w300 {width: 300px; margin: auto;}
.w360 {width: 360px; margin: auto;}
.font {font-family: beanpoleotM00;}
.font12 {font-size: 12px;}
.font15 {font-size: 15px;}
.font40 {font-size: 40px;}
.blue:hover {color: #35C5F0;}
.mr10 {margin-right: 10%;}
.ml10 {margin-left: 10%;}
.img {object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: auto; width: 100%;}
.h-img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; width: auto;}
.img-center {width: 100%; height: 100%; overflow: hidden; position: relative; margin: auto;}
.box-radius-5 {border-radius: 5px; overflow: hidden; }
.box-radius-10 {border-radius: 10px; overflow: hidden;}
.border-1-white {border: 1px solid #fff;}
.border-1-gray {border: 1px solid #d6d6d6;}
.border-1-red {border: 1px solid rgb(255, 119, 119);}
.gridBetween {display: grid; grid-template-columns: 269px 269px 269px 269px; justify-content: space-between; row-gap: 20px; padding: 0;}
.column4 {width: 269px;}
.textShadow2 {text-shadow: 1px 1px 1px gray;}
.font-gray-15 {font-size: 15px; color: #757575; font-weight: 700; line-height: 20px;}
.postArea {margin: 30px 0;}
.iconArea {display: flex; justify-content: center; padding: 30px 0;}
.categoryIndexBox {padding: 20px 0; display: flex; justify-content: space-between;}
.categoryIndexBox2 {padding: 20px 0;}
.categoryIndexBox > .moreBtn {color: #35C5F0; font-weight: 700;}
.categoryIndexBox > .redMoreBtn {color: rgb(255, 119, 119); font-weight: 700;}
.categoryIndex {font-size: 20px; font-weight: 700;}
.todayDeal {display: flex; justify-content: space-between; padding: 0;}
.dealCard {width: 269px;}
.dealImgBox {height: 269px;}
.infoArea {margin: 15px 10px;}
.storeName {font-size: 11px; color: #757575; line-height: 13px;}
.dealTitle {margin-top: 5px; font-size: 13px; font-weight: 400; line-height: 17px;}
.discountRate {font-size: 17px; line-height: 23px; font-weight: 700; color: #f77;}
.price {font-size: 17px; line-height: 23px; font-weight: 700; color: #000; margin-left: 10px;}
.absolute {position: absolute; bottom: 0; z-index: 50;}
.relative {position: relative;}


header {border-bottom: 1px solid #EDEDED; height: 100px; background-color: #fff; position: relative; top: 0; left: 0; right: 0; z-index: 100;}
.contents {padding-top: 50px; padding-bottom: 50px; min-height: 550px;}
footer {height: 100px; text-align: center; line-height: 100px;}

/* header */
#mainMenu {height: 100%;}
#mainMenu > li {margin: auto; line-height: 80px; padding-right: 30px; vertical-align: top;}
#mainMenu > li > a {display: block;}
#mainMenu > #communityMenuBtn:hover > ul#communityMenu {z-index: 100;}
#mainMenu > #storeMenuBtn > ul#storeMenu {visibility: hidden;}
#mainMenu > #storeMenuBtn:hover > ul#storeMenu {z-index: 100; visibility: visible;}
.subMenu {background-color: #fff; border-bottom: 1px solid #EDEDED; position: absolute; top: 100px; left: 0; right: 0; height: 50px; display: flex; padding: 0; padding-top: 20px; padding-left: 10%;}
.subMenu > li {padding: 0; padding-right: 50px; text-align: left;}
.subMenu > li > a {display: block; padding-left: 0; line-height: 10px; font-weight: bold; width: 100%; height: 100%;}
.layout-navigation-search__input__icon {position: absolute; margin: 7px;}
#keyword {padding-left: 35px; width: 270px; height: 40px; border: 1px solid #dbdbdb;}
.nav-link {color: #424242; font-weight: bold; display: block;}
.basket {margin-top: 5px; color: #757575;}
.borderSide {border-left: 1px solid #757575; border-right: 1px solid #757575;}
.userBtnArea {width: 32px; height: 32px; border-radius: 16px; overflow: hidden;}
#createBtn {color: #fff; background-color: #35C5F0;}
.moreIcon {padding-top: 5px;}
.postTitle {font-size: 34px; color: rgb(47, 52, 56); font-weight: 700;}

/* user 메뉴 */
#userMenu {z-index:100; position: absolute; top: 80px; right: 17%;  width: 150px; background-color: #fff; box-shadow: 2px 2px 4px #b5b5b5; border-radius: 5px; border: 1px solid #DBDBDB;}
#userMenu > ul > li {height: 45px; padding: 5px;}
#userMenu > ul > li > a {display: block; text-align: center;width: 100%; height: 100%; line-height: 35px;}
#userMenu > ul > li > a:hover {background-color: #efefef;}

/* 글쓰기 메뉴 */
#writeMenu {z-index:100; position: absolute; top: 80px; right: 10%;  width: 180px; background-color: #fff; box-shadow: 2px 2px 4px #b5b5b5; border-radius: 5px; border: 1px solid #DBDBDB;}
#writeMenu > ul > li {height: 45px; padding: 5px;}
#writeMenu > ul > li:last-child {border: none;}
#writeMenu > ul > li > a {display: block; text-align: center;width: 100%; height: 100%; line-height: 35px;}
#writeMenu > ul > li > a:hover {background-color: #efefef;}

/* create gnb */
.createGnb .saveBtn {background-color: #35C5F0; color: #fff; font-weight: 700;}
.createGnb .cancelBtn {background-color: #DBDBDB; color: #000; font-weight: 500; margin-right: 10px;}

/* community main */
#communityMain {padding-top: 30px;}
#communityMain .bannerArea {overflow: hidden; height: 550px; display: flex; justify-content: space-between;}
#communityMain .mainBanner {width: 69%; height: 100%; border-radius: 10px; overflow: hidden;}
#communityMain .smallBanner {width: 29%; height: 100%; border-radius: 10px; overflow: hidden;}
#communityMain .bannerTitle {font-size: 32px; color: #fff; font-weight: 700; margin: 10px 0;}
#communityMain .mainBanner > div.infoArea {bottom: 30px; left: 30px;}
#communityMain .iconMenu {height: 80px; width: 150px; }
#communityMain .iconText {width: 100%; text-align: center; font-weight: 500; padding-top: 10px;}

#communityMain .postImgBox {height: 180px;}
#communityMain .postTitle {font-weight: 600; font-size: 15px; margin-bottom: 10px;}
#communityMain .writerInfo {display: flex;}
#communityMain .postWritherImg {width: 22px; height: 22px; border-radius: 50%; background-color: #434343; margin-right: 10px; overflow: hidden;}
#communityMain .writerNickName {font-size: 13px; color: #424242;}


/* 로그인 화면 */
.loginBox {margin: auto; margin-top: 80px;}
#loginForm {margin-top: 30px;}
.signInArea #loginId {border-radius: 5px 5px 0 0; height: 50px; background-color: #fff; border-bottom: none;}
.signInArea #password {border-radius: 0 0 5px 5px; height: 50px; background-color: #fff; margin-bottom: 30px;}
.confirm-msg {font-size: 13px;}
#login-btn {background-color: #35C5F0; color: #fff; height: 50px;}
#join-btn {background-color: #DBDBDB; color: #000; height: 50px; line-height: 35px;}
.bg-gray {background-color: #c1c1c1; color: #fff;}

/* 회원가입 */
.signUpInput > label {font-size: 15px; font-weight: 600;}
.signUpInput > input {height: 40px; font-size: 15px; border: 1px solid #d6d6d6;}
.redText {color: rgb(255, 119, 119);}
.blueText {color: #35C5F0;}
.grayText {color: #757575;}
.agree {font-size: 14px; padding: 10px 0;}
.allAgree {font-weight: 700; padding-bottom: 20px; border-bottom: 1px solid #d6d6d6;}
.allAgree .checkLabel {font-size: 16px; margin-top: 3px; margin-left: 20px;}
.agree .checkLabel {font-size: 14px; margin-top: 5px; margin-left: 20px;}
.agree a {text-decoration: underline;}
.agreementBox {padding: 20px;}

/* 선택안된 체크박스 꾸미기 */
.agreementBox input[type="checkbox"] {visibility: hidden;} 
.agreementBox .cb {position: absolute; top: 0; left: 0; border: 1px solid #d6d6d6; border-radius: 3px; width: 20px; height: 20px; margin: 5px; margin-right: 10px;}

/* 선택된 체크박스 꾸미기 */
.agreementBox input[type="checkbox"]:checked + .cb {background-color: #35C5F0; border: none;}
.agreementBox .cb:after {content: ""; position: absolute; display: none;}
.agreementBox input[type="checkbox"]:checked + .cb:after {display: block;}
.cb:after { width: 6px; height: 10px; border: solid #fff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 7px; top: 4px; }

.agreementBox label {vertical-align: center; margin: 0; position: relative;}
#signUpBtn {height: 50px; background-color: #35C5F0; color: #fff; font-size: 17px; font-weight: 700; margin: 30px 0;}
.goToSignIn span {font-weight: 400; font-size: 15px; margin-right: 10px;}
.goToSignIn a {font-weight: 700; font-size: 15px; text-decoration: underline;}


/* shop Main */
#shopMain .mainBanner {width: 100%; height: 380px;}
#shopMain .iconArea {display: flex; justify-content: space-between; padding: 30px 0;}
#shopMain .iconItem {width: 80px;}
#shopMain .iconItem a.icon {width: 80px; height: 80px;}
#shopMain .iconLabel {padding-top: 10px; font-size: 15px; font-weight: 700; color: #757575; text-align: center;}
.delivaryInfoArea {margin: 10px 0;}
.freeDelivary {font-size: 12px; font-weight: 600; color: #757575; background-color: #EDEDED; padding: 2px 5px; border-radius: 5px; margin-right: 5px;}
.specialPrice {font-size: 12px; font-weight: 600; color: #fff; background-color: rgb(255, 119, 119); padding: 2px 5px; border-radius: 5px;}

/* photo create view */
#photoCreate {padding-top: 40px;}
#photoCreate .photoImgArea {width: 48%; background-color: #F7F8FA;  text-align: center; border: 1px dashed #d6d6d6;}
.photoBtn {width: 100%; height: 100%; font-weight: 700; color: #757575; display: flex; justify-content: center; align-items: center;}
.reselectBtn {cursor: pointer;}

#photoCreate .contentArea {width: 48%;}
#photoCreate .contentArea > #content {width: 100%; height: 420px; padding: 20px; resize: none;}
#photoCreate .contentArea .btnArea {display: flex; justify-content: end;}
#photoCreate .contentArea .cancelBtn {font-weight: 600; margin-top: 10px; margin-right: 10px;}
#photoCreate .contentArea .createBtn {background-color: #35C5F0; color: #fff; font-weight: 600; margin-top: 10px;}

#photoDetail {display: flex;}
#photoDetail .postArea {width: 70%; height: 100%; padding: 0; margin: 0; padding-top: 30px; padding-right: 30px; border-right: 1px solid #EDEDED;}
#photoDetail .userArea {width: 342px; padding-top: 30px; position: fixed; right: 10%; top: 150px;}
#photoDetail .photoArea {width: 100%; overflow: hidden;}
#photoDetail .contentArea {width: 100%; padding: 30px 30px;}
#photoDetail .photoInfo {padding: 20px 0;}
.count {font-size: 13px; color: #757575; display: flex; padding-bottom: 20px; border-bottom: 1px solid #EDEDED;}
.commentArea {padding: 20px 0;}
.commentArea .inputComment {display: flex; position: relative;}
.commentArea .userImg {width: 30px; height: 30px; border-radius: 15px; overflow: hidden; margin: auto; margin-right: 10px; margin-left: 0; background-color: #000;}
.commentArea .inputComment .comment {height: 38px; width: 95%; font-size: 15px; border: 1px solid #d6d6d6; padding-left: 15px;}
.commentArea .inputComment .commentPlace {position: absolute; top: 8px; left: 50px; font-size: 15px; color: #757575;}
.commentArea .inputComment .commentBtn {position: absolute; right: 15px; top: 8px; height: 50px; color: #35C5F0; font-weight: bold;}
.commentArea .inputComment .disabledBtn {pointer-events: none; opacity: 0.4;}
.commentArea .commentList {padding: 20px 0;}
.commentArea .commentList .comment-box {display: flex; margin-bottom: 10px; font-size: 14px;}
.commentArea .commentList .comment-writer-id {font-weight: 700; margin-right: 10px; margin-top: 6px;}
.commentArea .commentList .writed-comment {margin-top: 6px;}

#photoDetail .userArea .likeArea .like {margin: auto;}
#photoDetail .userArea .likeArea .like .likeBtn {padding: 12px 30px; display: flex; margin: auto;}
#photoDetail .userArea .likeArea .like .likeBtn .likeCount {font-weight: 600; color: #757575; margin-left: 10px;}
#photoDetail .userArea .userInfoArea {padding: 50px 0 50px 30px; display: flex; justify-content: space-between;}
#photoDetail .userArea .userInfoArea .userImg {width: 50px; height: 50px; border-radius: 25px; overflow: hidden; min-width: 50px; background-color: #000;}
#photoDetail .userArea .userInfoArea .userInfo {margin-left: 15px;}
#photoDetail .userArea .userInfoArea .userInfo .userNickName {font-size: 15px; color: #424242; font-weight: 600;}
#photoDetail .userArea .userInfoArea .userInfo .userIntro {font-size: 11px; color: #424242;}
#photoDetail .userArea .userInfoArea .followBtn {background-color: #35C5F0; color: #fff; font-weight: 700; width: 80px; height: 38px; margin-top: 6px; }
#photoDetail .userArea .writerPostArea {display: grid; grid-template-columns: 155px 155px; justify-content: space-between; row-gap: 2px; margin-left: 30px; border-radius: 10px; overflow: hidden}
#photoDetail .userArea .writerPostArea .writerPost {position: relative; width: 100%; }
#photoDetail .userArea .writerPostArea .writerPost:before {content: ""; display: block; padding-top: 100%;}
#photoDetail .userArea .writerPostArea .writerPost .square {position: absolute; top: 0; bottom: 0; right: 0; left: 0;}
#photoDetail .userArea .editPostArea  {text-align: center; margin: auto; margin-top: 30px;}
#photoDetail .userArea .editPostArea .editBtn {background-color: #35C5F0; color: #fff;}
#photoDetail .userArea .editPostArea .delBtn {background-color: rgb(255, 119, 119); color: #fff;}



#createHouse .requiredArea .openInputBtn {cursor: pointer; width: 100%; padding: 20px 30px; background-color: #fff; text-align: left; font-weight: 700; color: rgb(63, 71, 77); display: flex; justify-content: space-between;}
#createHouse .requiredArea .requiredContents {padding: 30px; display:none; border-radius: 0 0 5px 5px; border-top: 0;}
#createHouse .requiredArea .requiredContents .required {display: flex; padding: 5px 0;}
#createHouse .requiredArea .requiredContents .required .requiredLabel {width: 15%; line-height: 40px; color: rgb(63, 71, 77); font-weight: 700;}
#createHouse .requiredArea .requiredContents .required .requiredContent {width: 85%;}
#createHouse .requiredArea .requiredContents .required .requiredContent select {width: 200px; height: 40px;}
#createHouse .requiredArea .requiredContents .required .requiredContent #area {width: 100px; height: 40px; margin-right: 10px;}
#createHouse .requiredArea .requiredContents .required .requiredContent span {line-height: 40px;}

#createHouse .coverImgArea {padding: 20px 0;}
#createHouse .coverImgArea #coverImg {display: none;}
#createHouse .coverImgArea .coverImgBox {width: 500px; height: 500px; margin: auto; background-color: #F7F8FA; text-align: center; border: 1px dashed #d6d6d6;}
#createHouse .contentArea #subject {width: 100%; height: 70px; color: rgb(63, 71, 77); font-size: 34px; font-weight: 600; padding: 5px 0; border: none; border-bottom: 1px solid #d6d6d6;}
#createHouse .contentArea #content {width: 100%; color: rgb(63, 71, 77); font-size: 17px; margin: 30px 0; border: none; resize: none;}

#createHouse .delBtn {margin-left: 20px;}


#detailIntroduce #coverImg {width: 100%; height: 320px;}
#detailIntroduce .postContent {margin: 30px 0;}
#detailIntroduce .postContent .postImgArea {margin-top: 30px;}
#detailIntroduce .postContent .postImgArea .filesImage {margin-top: 20px;}
#detailIntroduce .coverImg {width: 100%;}
#detailIntroduce .userInfoArea {display: flex; justify-content: space-between;}
#detailIntroduce .userInfoArea .userArea {display: flex;}
#detailIntroduce .userInfoArea .userArea .userImg {margin-right: 15px; width: 50px; height: 50px; border-radius: 25px; overflow: hidden; min-width: 50px; background-color: #000;}
#detailIntroduce .userInfoArea .userInfo .userNickName {font-size: 16px; color: #2F3438; font-weight: 700;}
#detailIntroduce .userInfoArea .userInfo .createdAt {font-size: 16px; color: #656E75; font-weight: 400;}
#detailIntroduce .userInfoArea .btnArea {display: flex;}
#detailIntroduce .userInfoArea .btnArea .followBtn {font-weight: 700; background-color: #35C5F0; color: #fff;  border-radius: 10px;}
#detailIntroduce .userInfoArea .btnArea .likeBtn {font-weight: 600; background-color: #F5F5F5; color: #2F3438; border-radius: 10px;}
#detailIntroduce .houseInfoArea {margin: 20px 0; padding: 30px 20px; background-color: #F5F5F5; border-radius: 10px; display: flex; justify-content: space-around;}
#detailIntroduce .houseInfoArea .houseInfo {color: #424242; font-size: 14px;}
#detailIntroduce .houseInfoArea .line {background-color: #656E75; width: 1px;}
.filesImage {width: 100%; height: auto;}

#detailIntroduce .postContent .postTextArea .postText {font-size: 16px; color: #2F3438;}

#createknowhow .requiredArea .openInputBtn {cursor: pointer; width: 100%; padding: 20px 30px; background-color: #fff; text-align: left; font-weight: 700; color: rgb(63, 71, 77); display: flex; justify-content: space-between;}
#createknowhow .requiredArea .requiredContents {padding: 30px; display:none; border-radius: 0 0 5px 5px; border-top: 0;}
#createknowhow .requiredArea .requiredContents .required {display: flex; padding: 5px 0;}
#createknowhow .requiredArea .requiredContents .required .requiredLabel {width: 15%; line-height: 40px; color: rgb(63, 71, 77); font-weight: 700;}
#createknowhow .requiredArea .requiredContents .required .requiredContent {width: 85%;}
#createknowhow .requiredArea .requiredContents .required .requiredContent select {width: 200px; height: 40px;}
#createknowhow .requiredArea .requiredContents .required .requiredContent #area {width: 100px; height: 40px; margin-right: 10px;}
#createknowhow .requiredArea .requiredContents .required .requiredContent span {line-height: 40px;}

#createknowhow .coverImgArea {padding: 20px 0;}
#createknowhow .coverImgArea #coverImg {display: none;}
#createknowhow .coverImgArea .coverImgBox {width: 500px; height: 500px; margin: auto; background-color: #F7F8FA; text-align: center; border: 1px dashed #d6d6d6;}
#createknowhow .contentArea #subject {width: 100%; height: 70px; color: rgb(63, 71, 77); font-size: 34px; font-weight: 600; padding: 5px 0; border: none; border-bottom: 1px solid #d6d6d6;}
#createknowhow .contentArea #content {width: 100%; color: rgb(63, 71, 77); font-size: 17px; margin: 30px 0; border: none; resize: none;}

#createknowhow .delBtn {margin-left: 20px;}

#list {margin-top: 30px;}
#list .contentArea {margin: 10px 0; font-size: 15px; color: #424242; overflow: hidden; text-overflow: ellipsis; max-height: 66px; word-break: break-word; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;}
#list .writerInfoArea {margin: 10px 0; display: flex;}
#list .writerInfoArea .writerImg {width: 36px; height: 36px; margin-right: 10px; border-radius: 18px; overflow: hidden;}
#list .writerInfoArea .writerNickName {font-size: 15px; font-weight: 500; line-height: 17px;}
#list .writerInfoArea .followBtnArea {font-size: 15px; font-weight: 500; line-height: 17px; color: #35C5F0; margin-left: 5px;}
#list .writerInfoArea .introduce {font-size: 12px; color: #757575;}
#list .btnArea {margin: 10px 0; display: flex; justify-content: space-around;}
#list .commentArea {display: flex; margin: 10px 0; padding: 0;}
#list .commentArea .commentWriterImg {width: 24px; height: 24px; overflow: hidden; border-radius: 12px;}
#list .commentArea .commentId {font-size: 15px; color: #424242; font-weight: 600; margin: 0 10px;}
#list .commentArea .comment {font-size: 15px; color: #424242; font-weight: 400;}

